.footer {
  width: 100%;
  height: 100px;
  background-color: #1565C0;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
}

.footer p {
  margin-top: 8px;
}

.footer a {
  color: white;
}

.footer .google i:first-child {
  color: #DD4B39;
}

.footer .facebook i:first-child {
  color: #3B5998;
}

.footer .twitter i:first-child {
  color: #55ACEE;
}
