.comment {
  margin-left: 30px;
  margin-right: 30px;
}

.comment > p {
  border-bottom-color: grey !important;
  border-bottom: solid 10px;
  border-bottom-width: thin;
  margin-left: 40px;
  margin-right: 40px;
}

.comment button {
  color: orange;
  background-color: inherit;
  margin-left: 10px;
  font-size: 0.8em;
  border-radius: 0px;
  border-width: 0px;
}
